body {    
    background-color: #fff9ed !important;
    margin: 0;
    padding: 0;    
}
header {
    background-color: #2f2f39;
    color: #fff;
    text-align: center;
    padding: 2px !important;
    margin: -10px 0px 0px 0!important;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}


header {
    background-color: #2f2f39;
    color: #fff;   
    padding: 10px 0;
}

.header-text {
    margin-left: 350px;
}

.logo img {
    max-height: 60px; 
    margin-right: -38px;
}
.title {
    flex-grow: 1; 
}

.title h1 {
    margin: 0; 
}



.container {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 20px;
    
}

form {
    text-align: center;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px 4px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #2f2f39;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-top: 10px; */
    border-radius: 15px;
}

.loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

footer {
    width: 100%;
    background-color: #2f2f39;
    color: #fff;
    text-align: center;    
    position: fixed;
    bottom: 0;
}

div.footer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#result {

    text-align: center;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.download-button {
    text-align: center;
    margin-top: 20px;
}

a#download-link {
    text-decoration: none;
}

button#download-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
.dropdown {
    margin-right: 20px; 
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.dropdown-menu a:hover {
    background-color: #2f2f39;
    color: white;
}
.card-header {
    padding: 0px !important
}
    
.navbar-light .navbar-text {
    margin-left: 480px;   
}

::ng-deep .bg-light {
    background-color: #2f2f39 !important;
}

.footer {
    background-color: #2f2f39 !important;

}

   
#sidebar{
    background-color: #2f2f39 !important;
    /* background-color: #2f2f39 !important; */
    color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    
}
.sidebar ul li a:hover {        
    padding: 8px;
    background-color: #7c7c82;
    border-radius: 10px;
    margin: -8px;    
    
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;

}

/* Add a margin to the content to prevent it from being hidden behind the sidebar */
.main-content {
    margin-left: 1000px; /* Adjust this value as needed */
    /* padding: 15px; */
}

/* Sidebar styles */
#sidebar {
transition: all 0.3s;
padding-top: 20px;
}

/* Collapsed sidebar */
#sidebar.collapsed {
width: 0px; /* Adjust the width as needed */
padding: 0px;

}
#sidebar.collapsed #sidebar-toggle {
position: fixed;
left: 15px;
top: 10px;
}
#sidebar-toggle{
color: red;
border: red;
}

/* Expanded sidebar */
#sidebar:not(.collapsed) {
width: 230px; /* Adjust the width as needed */
/* padding: 0px; */
}






