<!-- index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style1.css">
    <title>Fixed Sidebar Menu</title>    
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="/image_generation">Generate Image</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/summary_generation">Generate Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/generate_transcript">Generate Transcript</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/supportcall_summary_generation">Financial summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contract_summary_generation">Contract summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/generate_job">Job description</a>
                        </li>                        
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" id="page-content">
                <!-- Content from individual pages will be loaded here -->
            </main>
        </div>
    </div>

    <!-- Include Bootstrap JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function () {
            // Load initial content
            loadPageContent('page1.html');

            // Handle sidebar links
            $('.nav-link').click(function (e) {
                e.preventDefault();
                var pageUrl = $(this).attr('href');
                loadPageContent(pageUrl);
            });

            // Function to load page content
            function loadPageContent(url) {
                $('#page-content').load(url);
            }
        });
    </script>
</body>
</html>
