<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>DALL-E Image Generation</title>
</head>

<body>
    <header> 
        <div class="logo">
            <img src="/static/Infobeanslogo.png" alt="InfoBeans Logo">
        </div>  
        <div class="title">
            <h1>Image Generation</h1>
        </div>      
        <div class="spacer"></div>                   
    </header>
   
    <div class="container">
        <form id="generate-form">
            <!-- <label for="text">Enter a text description:</label> -->
            <input type="text" id="text" name="text" placeholder="Generate an image based on your text input">
            <button type="submit">Generate</button>
            <div class="loading">
                <img src="/static/loader.webp" alt="Loading...">
            </div>
        </form>

        <div id="result">
            <!-- The generated image will be displayed here -->
        </div>
        
      

        <!-- <div class="download-button">
            <a id="download-link" style="display: none;" href="generated_image.png" download>
                <button id="download-button" style="display: none;">Download Image</button>
            </a>
        </div> -->
    </div>
    <div class="footer">
        <footer>
            <p>&copy; 2023 Your Company</p>
        </footer>
    </div>
    <script>
        const generateForm = document.getElementById('generate-form');
        const loadingDiv = document.querySelector('.loading');
        const resultDiv = document.getElementById('result');
        // const downloadLink = document.getElementById('download-link');
        // const downloadButton = document.getElementById('download-button');

        generateForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const text = document.getElementById('text').value;
            loadingDiv.style.display = 'block'; // Show loading spinner

            fetch('/generate', {
                method: 'POST',
                body: new URLSearchParams({ text: text }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                }
            })
            .then(response => response.json())
            .then(data => {            
                resultDiv.innerHTML = `<img src="${data.image_url}" alt="Generated Image">`;                
                // downloadLink.href = data.image_url;
                // downloadLink.style.display = 'block';
                // downloadButton.style.display = 'block';
                loadingDiv.style.display = 'none';
            })
            .catch(error => console.error(error));
        });
    </script>
</body>
</html>
